<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header>
  <div class="banner">
    <img src="assets/your_photo.jpg" alt="您的名字" class="profile-photo">
    <div class="title">
      <h1>歡迎來到我的個人網頁</h1>
    </div>
  </div>
</header>
<section>
  <h2>關於我</h2>
  <div class="introduction">
    <p>
      歡迎來到我的個人網頁！我是一名結合醫療與技術領域的軟體工程師，擁有豐富的加護病房實務經驗。專精於基礎設施程式碼、後端開發、AI及演算法，將專業技能應用於醫療領域，以求創新解決方案。
    </p>
    <p>
      休閒時，我醉心於射箭，已有近十年的經歷。這項運動教會我專注與堅持，同時將這些品質融入工程項目。展望未來，我期待繼續將技術專長和醫療背景相結合，為人類健康作出貢獻。
    </p>
  </div>
</section>
